<div class="row">
	<div class="col s12">
		<%= form_for(@new, url: admin_articles_path(@new.id), html: { method: :put }, id: 'edit_new_{@new.id}') do |f| %>

			<% @new.errors.full_messages.each do |msg| %>
				<%= msg %>
			<% end %>

			<div class="field input-field">
				<%= f.label :title, "Titre" %>
				<%= f.text_field :title, class: 'form-control' , autofocus: true, :class => "validate" %>
			</div>

			<div class="field input-field">
				<%= f.label :summary, "Résumé" %>
				<%= f.text_area :summary, class: 'form-control', :class => "validate materialize-textarea" %>
			</div>

			<div class="field input-field">
				<%= f.label :content, "Contenu" %>
				<%= f.text_area :content, class: 'form-control', :class => "validate materialize-textarea" %>
			</div>

		  	<div class="field input-field">
				<div><%= f.label :image %></div>
				<div class="file-field input-field">
					<div class="btn">
						<span>File</span>
						<%= f.file_field :image %>
					</div>
						<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
			    </div>
				<%= image_tag(@new.image) if @new.image? %>
			</div>

		  <div class="actions btnlog">
		    <%= f.submit "Editer", :class => " btn" %>
		  </div>
		<% end %>
	</div>
</div>