<div class="row">
	<div class="col s12">
		<%= form_for(@new, url: admin_articles_path, html: { method: :post }, id: 'new_news') do |f| %>

			<% @new.errors.full_messages.each do |msg| %>
				<%= msg %>
			<% end %>

			<div class="field input-field">
				<%= f.label :title, "Titre" %>
				<%= f.text_field :title, length: {minimum: 10}, autofocus: true, :class => "validate" %>
			</div>

			<div class="field input-field">
				<%= f.label :summary, "Résumé" %>
				<%= f.text_area :summary,length: {minimum: 10}, :class => "validate materialize-textarea"  %>
			</div>

			<div class="field input-field">
				<%= f.label :content, "Contenu" %>
				<%= f.text_area :content, length: {minimum: 10}, :class => "validate materialize-textarea"  %>
			</div>

			<div class="field input-field">
				<div><%= f.label :image %></div>
				<div class="file-field input-field">
					<div class="btn">
						<span>File</span>
						<%= f.file_field :image %>
					</div>
						<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
			    </div>
				<%= image_tag(@new.image) if @new.image? %>
			</div>

			<div class="btnlog actions">
				<%= f.submit "Publier", :class => " btn" %>
			</div>
		<% end %>

		<%= link_to 'Retour', admin_articles_path %>
	</div>
</div>
