<div class="row">
    <div class="col s12 m12 l8 ">
        <div class="slider">
            <ul class="slides">
            <% @news[0..2].each do |new| %>
                <li>
                    <%= image_tag(new.image) %>
                    <div class="caption left-align">
                        <%= link_to ('<h5 class="light grey-text text-lighten-3">' + new.title.capitalize + '</h5>').html_safe, article_path(new.id) %>
                    </div>
                </li>
            <% end %>
            </ul>
        </div>
        <% @news.each do |new| %>
            <div class="card">
                <div class="card-image">
                  <% if new.image %>
                    <%= image_tag(new.image) %>
                  <% else %>
                    <%= image_tag("news4.png") %>
                    gg
                  <% end %>
                  <span class="card-title"><%= link_to new.title.capitalize, article_path(new.id) %></span>
                </div>
                <div class="card-content">
                  <p><%= new.summary.html_safe %></p>
                </div>
                <div class="card-action ">
                  <%= link_to 'Lire la suite', article_path(new.id), :class => 'right light-blue-text text-darken-2' %>
                  <div class="clear"></div>
                </div>
            </div>
        <% end %>
    </div>
    <%= render :template => 'layouts/rightColumn' %>
</div>
