<% content_for :title, "Joueur : " + @member.name + " - Obv1ous" %>
<div class="row">
    <div class="col s12 m12 l12">
            <div class="showPlayer">
                <div class="picture">
                    <%= image_tag("team-ico/#{@member.avatar_color}.png", :class => "circle") %>
                </div>
                <span><%= @member.name %></span>
                <p class="descri">
                    <%= @member.description.html_safe %>
                </p>

                <div class="row">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a href="#showPlayer1">Jeux</a></li>
                    <li class="tab col s3"><a href="#showPlayer2">Infos</a></li>
                    <li class="tab col s3 disabled"><a href="#showPlayer3">API Stats</a></li>
                  </ul>
                </div>
                <div id="showPlayer1" class="col s12 infojoueur">
                    <div class="games">
                        <% @games.each do |game| %>
                            <div class="col l4 m6 s12">
                                <%= image_tag("games/#{game.name_game}.png") %>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div id="showPlayer2" class="col s12 infojoueur">
                    <div class="col s12 m6 l6">
                        <table>
                        <thead>
                             <tr>
                                 <th>Infos Perso</th>
                             </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <td>Grade</td><td><%= @member.rank_cs %></td>
                            </tr>
                            <tr>
                                <td>Role</td><td><%= @member.role_cs %></td>
                            </tr>

                        </tbody>
                        </table>
                    </div>

                    <div class="col s12 m6 nopad">
                        <table>
                        <thead>
                             <tr>
                                 <th>Armes</th>
                             </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <% @weapons.each do |weapon| %>
                                    <td><%= image_tag("weapon/#{weapon.name_weapon}.png", class: 'materialboxed') %></td>
                                <% end %>
                            </tr>
                        </tbody>
                        </table>
                    </div>

                </div>
                <div id="showPlayer3" class="col s12 infojoueur">
                    <%= @member.id_steam %>
                </div>
              </div>
            </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('ul.tabs').tabs();
    $('.materialboxed').materialbox();
  });

</script>
