<div class="row">
    <div class="col s12 m12 l12">
            <div class="showPlayer">
                <div class="picture">
                    <img class="circle" src="https://yt3.ggpht.com/-uRtkLFWJv-A/AAAAAAAAAAI/AAAAAAAAAAA/UCwptM94vtQ/s100-c-k-no/photo.jpg" alt="" />
                </div>
                <span>Pseudo</span>
                <p class="descri">
                    Sed si ille hac tam eximia fortuna propter utilitatem rei publicae frui non properat, ut omnia illa conficiat, quid ego, senator, facere debeo, quem, etiamsi ille aliud vellet, rei publicae consulere oporteret?
                    Sed cautela nimia in peiores haeserat plagas, ut narrabimus postea, aemulis consarcinantibus insidias graves apud Constantium, cetera medium principem sed siquid auribus eius huius modi quivis infudisset ignotus, acerbum et inplacabilem et in hoc causarum titulo dissimilem sui.
                    Eminuit autem inter humilia supergressa iam impotentia fines mediocrium delictorum nefanda Clematii cuiusdam Alexandrini nobilis mors repentina; cuius socrus cum misceri sibi generum, flagrans eius amore, non impetraret, ut ferebatur, per palatii pseudothyrum introducta, oblato pretioso reginae monili id adsecuta est, ut ad Honoratum tum comitem orientis formula missa letali omnino scelere nullo contactus idem Clematius nec hiscere nec loqui permissus occideretur.
                </p>

                <div class="row">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a href="#showPlayer1">Jeux</a></li>
                    <li class="tab col s3"><a href="#showPlayer2">Infos</a></li>
                    <li class="tab col s3 disabled"><a href="#showPlayer3">API Stats</a></li>
                  </ul>
                </div>
                <div id="showPlayer1" class="col s12 infojoueur">
                    <div class="games">
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/lol.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/csgo.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/rocket.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/block.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/rust.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/minecraft.png') %>
                        </div>
                    </div>
                </div>
                <div id="showPlayer2" class="col s12 infojoueur">
                    <div class="col s12 m6 l6">
                        <table>
                        <thead>
                             <tr>
                                 <th>Grade</th>
                             </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <td>Counter Strike </td><td> Sheriff</td>
                            </tr>
                            <tr>
                                <td>League of legends</td><td>GOLD</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>

                    <div class="col s12 m6">
                        <table>
                        <thead>
                             <tr>
                                 <th>Role</th>
                             </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <td>Counter Strike </td><td>Open frag(rifle)</td>
                            </tr>
                            <tr>
                                <td>League of legends</td><td>Support</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>


                    <div class="col s12 m6 nopad">
                        <table>
                        <thead>
                             <tr>
                                 <th>Arme</th>
                             </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <td><%= image_tag('weapon/AK-47.png') %></td>
                                <td><%= image_tag('weapon/Five-SeveN.png') %></td>
                                <td><%= image_tag('weapon/M4A1-S.png') %></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>

                    <div class="col s12 m6 nopad">
                        <table>
                        <thead>
                             <tr>
                                 <th>Champions</th>
                             </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <td><%= image_tag('champion/ThreshPortrait.png') %></td>
                                <td><%= image_tag('champion/BraumPortrait.png') %></td>
                                <td><%= image_tag('champion/Tahm_KenchPortrait.png') %></td>
                            </tr>

                        </tbody>
                        </table>
                    </div>


                </div>
                <div id="showPlayer3" class="col s12 infojoueur">disabled</div>
              </div>
            </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>
