<% content_for :title, "Joueur : " + @member.name + " - Obv1ous" %>
<div class="row">
    <div class="col s12 m12 l12">
            <div class="showPlayer">
                <div class="row">
                    <div class="col s12 hide-on-med-and-up">
                        <%= link_to ('<i class="material-icons">keyboard_return</i>').html_safe,team_index_path, :class => 'right btn waves-effect waves-light' %>
                    </div>
                    <div class="col m10 s12">
                        <div class="picture">
                            <%= image_tag("team-ico/#{@member.avatar_color}.png", :class => "circle") %>
                        </div>
                        <span><%= @member.name %></span>
                        <p class="descri">
                            <%= @member.description.html_safe %>
                        </p>
                    </div>
                    <div class="col m2 hide-on-small-only">
                        <%= link_to ('<i class="material-icons">keyboard_return</i>').html_safe,team_index_path, :class => 'right btn waves-effect waves-light' %>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                      <ul class="tabs">
                        <li class="tab col s3"><a href="#showPlayer1">Jeux</a></li>
                        <li class="tab col s3"><a href="#showPlayer2">Infos</a></li>
                        <% if(@member.id_steam != '') %>
                            <li class="tab col s3"><a href="#showPlayer3">API Stats</a></li>
                        <% else %>
                            <li class="tab col s3 disabled"><a href="#showPlayer3">API Stats</a></li>
                        <% end %>
                      </ul>
                    </div>
                    <div id="showPlayer1" class="col s12 infojoueur">
                        <div class="games">
                            <% @games.each do |game| %>
                                <div class="col l4 m6 s12">
                                    <%= image_tag("games/#{game.name_game}.png") %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <div id="showPlayer2" class="col s12 infojoueur">
                        <div class="col s12 m6 l6">
                            <table>
                            <thead>
                                 <tr>
                                     <th>Infos Perso</th>
                                 </tr>
                           </thead>
                           <tbody>
                                <tr>
                                    <td>Grade</td><td><%= @member.rank_cs %></td>
                                </tr>
                                <tr>
                                    <td>Role</td><td><%= @member.role_cs %></td>
                                </tr>

                            </tbody>
                            </table>
                        </div>

                        <div class="col s12 m6 nopad">
                            <table>
                            <thead>
                                 <tr>
                                     <th>Armes</th>
                                 </tr>
                           </thead>
                           <tbody>
                                <tr>
                                    <% @weapons.each do |weapon| %>
                                        <td><%= image_tag("weapon/#{weapon.name_weapon}.png", class: 'materialboxed') %></td>
                                    <% end %>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="showPlayer3" class="col s12 infojoueur">
                    <% if(@member.id_steam != '') %>
                        <div class="row">
                            <div class="col s12 m6">
                                <table class="bordered striped InfoFullTime">
                                   <thead>
                                     <tr>
                                         <th data-field="id">Stats Général</th>
                                         <th class='right-align' data-field="name"></th>
                                     </tr>
                                   </thead>

                                   <tbody>
                                     <tr>
                                       <td>Victimes</td>
                                       <td class='right-align'><%= @total_kill %></td>
                                     </tr>
                                     <tr>
                                       <td>Morts</td>
                                       <td class='right-align'><%= @total_death %></td>
                                     </tr>
                                     <tr>
                                       <td>Ratio</td>
                                       <td class='right-align'><%= @ratioKD %></td>
                                     </tr>
                                     <tr>
                                       <td>Victimes par round</td>
                                       <td class='right-align'><%= @killByRound %></td>
                                     </tr>
                                     <tr>
                                       <td>Meilleur joueur</td>
                                       <td class='right-align'><%= @total_mvps %></td>
                                     </tr>
                                     <tr>
                                       <td>Ratio meilleur joueur</td>
                                       <td class='right-align'><%= ((@total_mvps*100)/@total_rounds_played.to_f).round(1) %>%</td>
                                     </tr>
                                     <tr>
                                       <td>Headshot</td>
                                       <td class='right-align'><%= ((@total_kills_headshot*100)/@total_kill.to_f).round(1) %>%</td>
                                     </tr>
                                   </tbody>
                                 </table>

                            </div>

                            <div class="col s12 m6">
                                <table class="bordered striped InfoFullTime">
                                   <thead>
                                     <tr>
                                         <th data-field="id">Derniere partie</th>
                                         <th class='right-align' data-field="name"></th>
                                     </tr>
                                   </thead>

                                   <tbody>
                                     <tr>
                                       <td>Victimes</td>
                                       <td class='right-align'><%= @last_match_kills %></td>
                                     </tr>
                                     <tr>
                                       <td>Morts</td>
                                       <td class='right-align'><%= @last_match_deaths %></td>
                                     </tr>
                                     <tr>
                                       <td>Meilleur joueur</td>
                                       <td class='right-align'><%= @last_match_mvps %></td>
                                     </tr>
                                     <tr>
                                       <td>Score</td>
                                       <td class='right-align'><%= @last_match_contribution_score %></td>
                                     </tr>
                                   </tbody>
                                 </table>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
    </div>
</div>
<script>

$(document).ready(function(){

});

</script>
