<div class="row">
    <div class="col s12 m12 l12">
            <div class="showPlayer">
                <div class="picture">
                    <%= image_tag("team-ico/#{@member.avatar_color}.png", :class => "circle") %>
                </div>
                <span><%= @member.name %></span>
                <p class="descri">
                    <%= @member.description %>
                </p>

                <div class="row">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a href="#showPlayer1">Jeux</a></li>
                    <li class="tab col s3"><a href="#showPlayer2">Infos</a></li>
                    <li class="tab col s3 disabled"><a href="#showPlayer3">API Stats</a></li>
                  </ul>
                </div>
                <div id="showPlayer1" class="col s12 infojoueur">
                    <div class="games">
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/lol.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/csgo.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/rocket.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/block.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/rust.png') %>
                        </div>
                        <div class="col l4 m6 s12">
                            <%= image_tag('games/minecraft.png') %>
                        </div>
                    </div>
                </div>
                <div id="showPlayer2" class="col s12 infojoueur">
                    <div class="col s12 m6 l6">
                        <table>
                        <thead>
                             <tr>
                                 <th>Grade</th>
                             </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <td>Counter Strike </td><td><%= @member.rank_cs %></td>
                            </tr>
                            <tr>
                                <td>League of legends</td><td><%= @member.rank_lol %></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>

                    <div class="col s12 m6">
                        <table>
                        <thead>
                             <tr>
                                 <th>Role</th>
                             </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <td>Counter Strike </td><td><%= @member.role_cs %></td>
                            </tr>
                            <tr>
                                <td>League of legends</td><td><%= @member.role_lol %></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>


                    <div class="col s12 m6 nopad">
                        <table>
                        <thead>
                             <tr>
                                 <th>Arme</th>
                             </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <td><%= image_tag('weapon/AK-47.png') %></td>
                                <td><%= image_tag('weapon/Five-SeveN.png') %></td>
                                <td><%= image_tag('weapon/M4A1-S.png') %></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>

                    <div class="col s12 m6 nopad">
                        <table>
                        <thead>
                             <tr>
                                 <th>Champions</th>
                             </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <td><%= image_tag('champion/ThreshPortrait.png') %></td>
                                <td><%= image_tag('champion/BraumPortrait.png') %></td>
                                <td><%= image_tag('champion/Tahm_KenchPortrait.png') %></td>
                            </tr>

                        </tbody>
                        </table>
                    </div>


                </div>
                <div id="showPlayer3" class="col s12 infojoueur">disabled</div>
              </div>
            </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>
