<% content_for :title, "Gallerie - Obv1ous" %>
<div class="row gallerie">
    <div class="col s12">
        <h1 class="title_section">Gallerie</h1>
        <div class="col s12 m4 l3">
            <%= image_tag('gallerie/1.png', :class => "materialboxed responsive-img") %>
        </div>
        <div class="col s12 m4 l3">
            <%= image_tag('gallerie/2.jpg', :class => "materialboxed responsive-img") %>
        </div>
        <div class="col s12 m4 l3">
            <%= image_tag('team-ico/blue.png', :class => "materialboxed responsive-img") %>
        </div>
        <div class="col s12 m4 l3">
            <%= image_tag('team-ico/green.png', :class => "materialboxed responsive-img") %>
        </div>
        <div class="col s12 m4 l3">
            <%= image_tag('team-ico/orange.png', :class => "materialboxed responsive-img") %>
        </div>
        <div class="col s12 m4 l3">
            <%= image_tag('team-ico/yellow.png', :class => "materialboxed responsive-img") %>
        </div>
        <div class="col s12 m4 l3">
            <%= image_tag('team-ico/purple.png', :class => "materialboxed responsive-img") %>
        </div>
        <div class="col s12 m4 l3">
            <%= image_tag('team-ico/black.png', :class => "materialboxed responsive-img") %>
        </div>
        <div class="col s12 m4 l3">
            <%= image_tag('team-ico/brown.png', :class => "materialboxed responsive-img") %>
        </div>
        <div class="col s12 m4 l3">
            <%= image_tag('team-ico/grey.png', :class => "materialboxed responsive-img") %>
        </div>
        <div class="col s12 m4 l3">
            <%= image_tag('team-ico/jade.png', :class => "materialboxed responsive-img") %>
        </div>
        <div class="col s12 m4 l3">
            <%= image_tag('team-ico/red.png', :class => "materialboxed responsive-img") %>
        </div>
        <div class="col s12 m4 l3">
            <%= image_tag('team-ico/pink.png', :class => "materialboxed responsive-img") %>
        </div>
    </div>
</div>
