<!DOCTYPE html>
<html>
<head>
    <title>Obv1ous</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body class="admin">
	<header>
		<nav class="top-nav">
			<div class="container">
				<div class="nav-wrapper"><a class="page-title">Navbar</a></div>
			</div>
		</nav>

		<div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>

		<ul id="nav-mobile" class="side-nav fixed collapsible" style="left: 0px;">
			<li class="logo">
				<%= link_to root_path, { :class => "brand-logo", :id=> "logo-container" } do %>
					<img src="/assets/logo-trans.png" class="admin-page-logo" alt="logo Obv1ous">
	        	<% end %>
	        </li>
	        <li class="bold">
	        	<%= link_to 'Dashboard', admin_dashboard_index_path, :class => "collapsible-header" %>
			</li>
			<li class="bold">
				<%= link_to 'Articles', admin_articles_path, :class => "collapsible-header" %>
			</li>
			<li class="bold">
				<a class="collapsible-header">Pages</a>
                <div class="collapsible-body" style="display: none;">
                    <ul>
                      <li><a href="">Hello</a></li>
                      <li><a href="">Je</a></li>
                      <li><a href="">Suis</a></li>
                      <li><a href="">Un</a></li>
                      <li><a href="">Test</a></li>
                    </ul>
              </div>
			</li>
			<li class="bold">
				<a class="collapsible-header">Utilisateurs</a>
                <div class="collapsible-body" style="display: none;">
                    <ul>
                      <li><a href="">Hello</a></li>
                      <li><a href="">Je</a></li>
                      <li><a href="">Suis</a></li>
                      <li><a href="">Un</a></li>
                      <li><a href="">Test</a></li>
                    </ul>
              </div>
			</li>
			<li class="bold">
				<a href="#" class="collapsible-header">Team</a>
			</li>
			<li class="bold">
				<a href="#" class="collapsible-header">Gallerie</a>
			</li>
		</ul>
	</header>
	<main>
		<div class="container">
			<%= yield %>
		</div>
	</main>
</body>
</html>
