<!DOCTYPE html>
<html>
<head>
    <title>Obv1ous</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body class="admin">
	<header>
		<nav class="top-nav">
			<div class="container">
				<div class="nav-wrapper"><a class="page-title"><%= controller_name.capitalize %></a></div>
			</div>
		</nav>

		<div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>

		<ul id="nav-mobile" class="side-nav fixed collapsible" style="left: 0px;">
			<li class="logo">
				<%= link_to root_path, { :class => "brand-logo", :id=> "logo-container" } do %>
					<img src="/assets/logo-trans.png" class="admin-page-logo" alt="logo Obv1ous">
	        	<% end %>
	        </li>
	        <li class="bold">
	        	<%= link_to 'Dashboard', admin_dashboard_index_path, :class => (controller_name == 'dashboard' ? "collapsible-header active" : "collapsible-header")  %>

			</li>
			<li class="bold">
				<a class="collapsible-header <%= 'active' if controller_name == 'articles' %>">Articles</a>
				<div class="collapsible-body" style="display: none;">
					<ul>
						<li><%= link_to 'Tous les articles', admin_articles_path %></li>
						<li><%= link_to 'Ajouter', new_admin_article_path %></li>
					</ul>
				</div>
			</li>
			<li class="bold">
				<a class="collapsible-header <%= 'active' if controller_name == 'pages' %>">Pages</a>
				<div class="collapsible-body" style="display: none;">
					<ul>
						<li><a href="">Toutes les pages</a></li>
						<li><a href="">Ajouter</a></li>
					</ul>
				</div>
			</li>
			<li class="bold">
				<a class="collapsible-header <%= 'active' if controller_name == 'users' %>">Utilisateurs</a>
                <div class="collapsible-body" style="display: none;">
                    <ul>
                    	<li><%= link_to 'Tous les utilisateurs', admin_users_path %></li>
						<li><%= link_to 'Ajouter', new_admin_user_path %></li>
                    </ul>
              	</div>
			</li>
			<li class="bold">
				<a class="collapsible-header <%= 'active' if controller_name == 'team_members' %>">Team</a>
                <div class="collapsible-body" style="display: none;">
                    <ul>
                    	<li><%= link_to 'Tous les membres', admin_team_members_path %></li>
						<li><%= link_to 'Ajouter', new_admin_team_member_path %></li>
                    </ul>
              	</div>
			</li>
			<li class="bold">
				<a class="collapsible-header <%= 'active' if controller_name == 'gallery' %>">Galerie</a>
                <div class="collapsible-body" style="display: none;">
                    <ul>
                    	<li><%= link_to 'Toutes les images', admin_gallery_index_path %></li>
						<li><%= link_to 'Ajouter', new_admin_gallery_path %></li>
                    </ul>
              	</div>
			</li>
			<li class="bold">
				<a class="collapsible-header <%= 'active' if controller_name == 'roulette' %>">Roulette</a>
                <div class="collapsible-body" style="display: none;">
                    <ul>
                    	<li><%= link_to 'Toutes les roulettes', admin_roulette_index_path %></li>
						<li><%= link_to 'Ajouter', new_admin_roulette_path %></li>
                    </ul>
              	</div>
			</li>
		</ul>
	</header>
	<main>
		<div class="container">
			<% if notice %>
            <script type="text/javascript">
	            $( document ).ready(function() {
	                Materialize.toast('<%= notice %>', 4000);
	            });
	            </script>
	        <% end %>
	        <% if alert %>
	            <script type="text/javascript">
	            $( document ).ready(function() {
	                Materialize.toast('<%= alert %>', 4000);
	            });
	            </script>
	        <% end %>

			<%= yield %>
		</div>
	</main>
</body>
</html>
