<!DOCTYPE html>
<html>
<head>
    <title>Obv1ous</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <div class="header-background" id="port">
            <img class="awpheader" src="assets/awpheader.png" alt="awp" />
            <div class="logo_obv">
                <%= image_tag('logo-trans.png', class: 'menu_icon') %>
            </div>
        </div>

        <!-- Dropdown Structure -->
        <nav>
            <div class="container">
                <div class="row">

                    <div class="nav-wrapper col s12">
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="side-nav" id="mobile-demo">
                            <li><%= link_to 'Accueil', root_path %></li>
                            <li><%= link_to 'Team', team_index_path %></li>
                            <li><%= link_to 'Galerie', gallery_index_path %></li>
                            <li class="divider"></li>
                            <% if user_signed_in? %>
                                <li><a href="#"><%= current_user.username.capitalize %></a></li>
                                <li><%= link_to 'Déconnexion', destroy_user_session_path, :id => "logout", :method => :delete %><li>
                            <% else %>
                                <li><%= link_to 'Connexion', new_user_session_path %></li>
                                <li><%= link_to 'Inscription', new_user_registration_path %></li>
                            <% end %>
                        </ul>
                        <ul class="left hide-on-med-and-down">
                            <li><%= link_to 'Accueil', root_path %><li>
                            <li><%= link_to 'Team', team_index_path %></li>
                            <li><%= link_to 'Galerie', gallery_index_path %></li>
                        </ul>
                        <ul class="right hide-on-med-and-down ">
                            <% if user_signed_in? %>
                                <li><a href="#"><%= current_user.username.capitalize %></a></li>
                                <li><%= link_to 'Déconnexion', destroy_user_session_path, :id => "logout", :method => :delete %><li>
                            <% else %>
                                <li><%= link_to 'Connexion', new_user_session_path %></li>
                                <li><%= link_to 'Inscription', new_user_registration_path %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container content">
        <% if notice %>
            <script type="text/javascript">
            $( document ).ready(function() {
                Materialize.toast('<%= notice %>', 4000);
            });
            </script>
        <% end %>
        <% if alert %>
            <script type="text/javascript">
            $( document ).ready(function() {
                Materialize.toast('<%= alert %>', 4000);
            });
            </script>
        <% end %>

        <%= yield %>
    </div>


    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">À propos</h5>
            <p class="grey-text text-lighten-4">Obv1ous est une équipe E-sport amateur, principalement sur Counter Strike - Global Offensive.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Notre partenaire :</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Faut faire une bannière *clin d'oeil clin d'oeil*</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2015 Copyright Obv1ous
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

    <script>
        jQuery(document).ready(function(){
            $(".button-collapse").sideNav(); //nav mobile
        });
    </script>
</body>
</html>
