<!DOCTYPE html>
<!--
             ,
       .-.___O\
        'Y     `-.
        )   ,
    |`-'  (@    )
    \_.   `    /'
   (     >_ .' `\  Obv1ous see you !!!
    \__//'      '
-->
<html>
<head>

    <title>Obv1ous</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
</head>
<body class="prideBack">
<%= yield %>
</body>
</html>
